// Colors
$white: #ffffff;
$light-gray: #888888;
$dark-gray: #333333;
$main-color: #007166;
$accent-color: #EF9E03;

// Font-sizes
$font-small: .75rem;
$font-normal: 1rem;
$font-medium: 1.1rem;
$font-big: 2rem;
$font-bigger: 3rem;

//Containers
$large-container: 85%;
$small-container: 800px;

//Margins
$margin-bottom-large: 5rem;
$margin-bottom-small: 2rem;
$margin-bottom-smaller: 1rem;