@use "./partials/variables" as *;
@use "./partials/mixins" as *;

* {
    @include reset;
}

body {
    font-family: 'Roboto Condensed', sans-serif;
}

button {
    border: none;
    background-color: $accent-color;
    color: white;
    padding: 15px;
    font-family: 'Roboto Condensed', sans-serif;
    text-transform: uppercase;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;

    &:hover {
        background-color: $main-color;
        transition: .25s cubic-bezier(0.39, 0.575, 0.565, 1);
    }
}

.btn-green {
    background-color: $main-color;

    &:hover {
        background-color: $accent-color;
        transition: .25s cubic-bezier(0.39, 0.575, 0.565, 1);
    }
}

div.section-title {
    position: relative;
    margin-bottom: $margin-bottom-small;
    
    img {
        position: absolute;
        top: 0%;
        left: 50%;
        transform: translate(-50%, -30%);
        z-index: 1;
    }
    
    .upper-title {
        font-size: $font-medium;
        font-weight: 800;
        color: $accent-color;
        text-align: center;
        position: relative;
        z-index: 2;
    }

    .lower-title {
        font-size: $font-big;
        font-weight: 900;
        color: $main-color;
        text-align: center;
        text-transform: uppercase;
        position: relative;
        z-index: 2;
        margin-bottom: $margin-bottom-small;
        
        span {
            color: $accent-color;
        }
    }


}

span.tag {
    position: absolute;
    top: 15px;
    left: 50%;
    transform: translateY(100%);
    font-size: $font-small;
    text-transform: none;
    display: none;
    background-color: #f8faf8;
    border-radius: 2px;
    color: $dark-gray;
    padding: 2px 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}